/* Dark mode colors. */
:root {
	--sl-color-accent-low: #391b00;
	--sl-color-accent: #9d5400;
	--sl-color-accent-high: #f5ba8e;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #facdac;
	--sl-color-accent: #a05500;
	--sl-color-accent-high: #4e2600;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #ffe7d2;
	--sl-color-black: #ffe7d2;
}
/* Some customization */
:root {
    --sl-font: "SF Pro Display", Inter, -system-ui, sans-serif;
    --__sl-font-mono: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace !important;
    tab-size: 40px;
}
#_top {
    font-weight: 400;
}
.tagline {
    font-weight: 300;
}
p {
    font-weight: 500;
}
b, strong {
    font-weight: 600 !important;
}
.starlight-aside {
    border-radius: 0.7rem;
    border: none;
    background: none;
    box-shadow: 0 0 7px var(--sl-color-accent-high),
                0 0 2px var(--sl-color-accent-high) inset;
    line-height: 2.3rem;
    padding: 1.2rem;
    position: relative;
    z-index: 1;
    --sl-color-asides-text-accent: var(--sl-color-accent-high);
}
.starlight-aside::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.7rem;
    opacity: 0.1;
    z-index: -1;
    background: var(--sl-color-accent-high);
}
.starlight-aside--note {
    --sl-color-asides-text-accent: #007aff;
    --sl-color-accent-high: #007aff;
}
starlight-file-tree {
    border: none;
    border-radius: 0.7rem !important;
    box-shadow: 0 0 2px var(--sl-color-gray-4) inset;
}
.tree-entry {
    transition: 0.2s color;
    font-weight: 500;
}
/* Uses a LinkButton for a custom external link with icon */
.inline-external-link {
    margin: 0 !important;
    gap: 0;
    color: var(--sl-color-accent-high) !important;
    height: 0;
    font-weight: 500;
    display: inline;
    font-size: var(--sl-text-base) !important;
}
.inline-external-link svg {
    transform: translateY(5px);
}
/* Starlight's default code styling looks terrible
   Most of the stuff next will make everything look
   similiar to Xcode's defaults.
*/

.indent {
    letter-spacing: 6px !important;
}
/* Inline code styling.
   We use dir=auto to only find inline ones, not whole blocks */
code[dir="auto"] {
    color: var(--sl-color-accent-high);
    background-color: var(--sl-color-accent-low) !important;
    border-radius: 0.4rem;
}
/* Set code font weight and spacing to something similiar to Xcode */
code {
    font-weight: 700 !important;
    font-size: 16px !important;
    --0fs: normal !important;
}
code > div {
    line-height: 1.4rem !important;
}
/* Font weight: Code comments */
span[style="--0:#98A2AC;--0fs:italic"] {
    --0fs: normal !important;
    --0fw: 600 !important;
}
/* Font weight: Red stuff in code, like func, let, etc. */
span[style="--0:#EE82B0"] {
    --0fw: 800 !important;
}
/* Terminal codeblocks */
.is-terminal {
    background: var(--sl-color-black) !important;
    border: 1px solid black !important;
}
[data-theme="light"] .is-terminal {
    background: var(--sl-color-gray-1) !important;
    border: 1px solid black !important;
}
.is-terminal > figure, .is-terminal > figcaption, .is-terminal > pre {
    border: none !important;
}
.is-terminal > figcaption::after {
    border-color: black !important;
}
.is-terminal >figcaption > .title::after {
    content: "~ (zsh)";
}
.is-terminal >figcaption::before {
    content: '';
    display: block;
    width: 2.5rem !important;
    height: 100%;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68 16' preserveAspectRatio='xMidYMid meet'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Ccircle cx='35' cy='8' r='8'/%3E%3Ccircle cx='60' cy='8' r='8'/%3E%3C/svg%3E") !important;
    background: linear-gradient(to right, 
        #ff5f57 0%, 
        #ff5f57 33.33%,
        #febc2f 33.33%, 
        #febc2f 66.66%,
        #28c840 66.66%, 
        #28c840 100%
    );
    opacity: 1 !important;
}
.is-terminal .ec-line::before {
    content: "➜ ~";
    margin-left: 16px;
    color: gray;
}
.dir-my-new-bot .ec-line::before {
    content: "➜ MyNewBot";
    margin-left: 16px;
}
.dir-my-new-bot .is-terminal >figcaption > .title::after {
    content: "~/MyNewBot (zsh)";
}
/* Sidebar link rounding */
#starlight__sidebar a {
    border-radius: 0.5rem !important;
}