.discord-message-content, .discord-message-body, .discord-reactions, .discord-embed-container {
  margin-top: 0 !important;
}

div.discord-messages {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  border-radius: calc(0.5rem + 1px);
  overflow: hidden;
}
/* i added important idk why but it fixed it */
.discord-buttons a.discord-button, .discord-buttons button.discord-button {
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 32px !important;
  min-width: 60px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: Roboto, sans-serif !important;
  line-height: 16px !important;
  margin: 4px 8px 4px 0 !important;
  padding: 2px 16px !important;
  border: 0 !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  transition:background-color .15s ease, color .15s ease
}

.discord-buttons a.discord-button:hover {
  color: #fff !important;
  text-decoration:none
}

.discord-buttons .discord-button .discord-button-emoji {
  width: 19px !important;
  height: 19px !important;
  margin-right:4px
}

.discord-buttons .discord-button.discord-button-primary {
  background-color:#5865f2
}

.discord-buttons .discord-button:not(.discord-button-disabled).discord-button-primary:hover {
  background-color:#4752c4
}

.discord-buttons .discord-button.discord-button-link, .discord-buttons .discord-button.discord-button-secondary {
  background-color:#4f545c
}

.discord-buttons .discord-button:not(.discord-button-disabled).discord-button-link:hover, .discord-buttons .discord-button:not(.discord-button-disabled).discord-button-secondary:hover {
  background-color:#474c53
}

.discord-light-theme .discord-buttons .discord-button.discord-button-link, .discord-light-theme .discord-buttons .discord-button.discord-button-secondary {
  background-color:#747f8d
}

.discord-light-theme .discord-buttons .discord-button:not(.discord-button-disabled).discord-button-link:hover, .discord-light-theme .discord-buttons .discord-button:not(.discord-button-disabled).discord-button-secondary:hover {
  background-color:#68727f
}

.discord-buttons .discord-button.discord-button-success {
  background-color:#3ba55c
}

.discord-buttons .discord-button:not(.discord-button-disabled).discord-button-success:hover {
  background-color:#359553
}

.discord-buttons .discord-button.discord-button-danger {
  background-color:#ed4245
}

.discord-buttons .discord-button:not(.discord-button-disabled).discord-button-danger:hover {
  background-color:#d53b3e
}

.discord-buttons .discord-button.discord-button-disabled, .discord-buttons .discord-button:disabled {
  opacity: .5 !important;
  cursor:not-allowed
}

.discord-buttons .discord-button .outbound-link-icon {
  margin-left: 8px !important;
  display:inline-flex
}

.discord-buttons {
  display: flex !important;
  flex-wrap:wrap
}

.discord-embed {
  color: #dcddde !important;
  display: flex !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  font-size: 13px !important;
  line-height:150%
}

.discord-light-theme .discord-embed {
  color:#2e3338
}

.discord-embed .discord-embed-left-border {
  background-color: #202225;
  flex-shrink: 0 !important;
  width: 4px !important;
  border-radius:4px 0 0 4px
}

.discord-light-theme .discord-embed .discord-embed-left-border {
  background-color:#e3e5e8
}

.discord-embed .discord-embed-container {
  background-color: #2f3136 !important;
  display: flex !important;
  flex-direction: column !important;
  max-width: 520px !important;
  padding: 8px 16px 16px !important;
  border: 1px solid rgba(46, 48, 54, .6) !important;
  border-radius:0 4px 4px 0
}

.discord-light-theme .discord-embed .discord-embed-container {
  background-color: #f9f9f94d !important;
  border-color:#cdcdcd4d
}

.discord-embed .discord-embed-content {
  display:flex
}

.discord-embed .discord-embed-content .discord-embed-author {
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  font-weight: 500 !important;
  margin-top:8px
}

.discord-light-theme .discord-embed .discord-embed-content .discord-embed-author, .discord-light-theme .discord-embed .discord-embed-content .discord-embed-author a {
  color:#4f545c
}

.discord-embed .discord-embed-content .discord-embed-author a {
  color: #fff !important;
  font-weight:500
}

.discord-embed .discord-embed-content .discord-embed-author .discord-embed-author-icon {
  width: 24px !important;
  height: 24px !important;
  margin-right: 8px !important;
  border-radius:50%
}

.discord-embed .discord-embed-content .discord-embed-title {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-top:8px
}

.discord-embed .discord-embed-content .discord-embed-title a {
  color: #00b0f4 !important;
  font-weight:600
}

.discord-embed .discord-embed-content .discord-embed-description {
  margin-top:8px
}

.discord-embed .discord-embed-content .discord-embed-image {
  max-width: 100% !important;
  margin-top: 16px !important;
  border-radius:4px
}

.discord-embed .discord-embed-content .discord-embed-thumbnail {
  max-width: 80px !important;
  max-height: 80px !important;
  margin-left: 16px !important;
  margin-top: 8px !important;
  border-radius: 4px !important;
  -o-object-fit: contain !important;
  object-fit: contain !important;
  -o-object-position: top center !important;
  object-position:top center
}

.discord-embed .discord-embed-footer {
  color: #72767d !important;
  display: flex !important;
  align-items: center !important;
  font-size: .85em !important;
  margin-top:8px
}

.discord-embed .discord-embed-footer .discord-embed-footer-icon {
  flex-shrink: 0 !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px !important;
  border-radius:50%
}

.discord-embed .discord-embed-footer .discord-embed-footer-separator {
  color: #3b3c42 !important;
  font-weight: 700 !important;
  margin:0 4px
}

.discord-light-theme .discord-embed .discord-embed-footer .discord-embed-footer-separator {
  color:#e4e4e4
}

.discord-embed .discord-embed-field {
  min-width: 100% !important;
  margin-top:5px
}

.discord-embed .discord-embed-field.discord-embed-field-inline {
  flex-grow: 1 !important;
  flex-basis: auto !important;
  min-width:100px
}

.discord-embed .discord-embed-field .discord-embed-field-title {
  color: #72767d !important;
  font-weight: 500 !important;
  margin-bottom:2px
}

.discord-light-theme .discord-embed .discord-embed-field .discord-embed-field-title {
  color:#747f8d
}

.discord-embed .discord-embed-fields {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top:8px
}

.discord-message .discord-author-info {
  color: #fff !important;
  display: inline-flex !important;
  align-items: center !important;
  font-size:15px
}

.discord-compact-mode .discord-message .discord-author-info {
  display: inline-flex !important;
  flex-direction:row-reverse
}

.discord-message .discord-author-info .discord-author-username {
  font-size: 1.1em !important;
  font-weight: 500 !important;
  letter-spacing:.5px
}

.discord-compact-mode .discord-message .discord-author-info .discord-author-username {
  margin-left: 4px !important;
  margin-right:4px
}

.discord-light-theme .discord-message .discord-author-info .discord-author-username {
  color:#23262a
}

.discord-message .discord-author-info .discord-author-bot-tag {
  background-color: #5865f2 !important;
  font-size: .65em !important;
  margin-left: 5px !important;
  padding: 3px 4px !important;
  border-radius: 3px !important;
  line-height: 100% !important;
  text-transform:uppercase
}

.discord-compact-mode .discord-message .discord-author-info .discord-author-bot-tag {
  margin-left: 0 !important;
  margin-right: 5px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  font-size:.6em
}

.discord-light-theme .discord-message .discord-author-info .discord-author-bot-tag {
  color:#fff
}

.discord-interaction {
  color: #b9bbbe !important;
  display: flex !important;
  align-items: center !important;
  position: relative !important;
  width: 100% !important;
  font-size: .95em !important;
  margin-bottom: 4px !important;
  padding-left: 56px !important;
  line-height: 150% !important;
  box-sizing:border-box
}

.discord-compact-mode .discord-interaction {
  margin-bottom: 0 !important;
  padding-left:64px
}

.discord-light-theme .discord-interaction {
  color:#4f5660
}

.discord-interaction:before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  width: 33px !important;
  top: 50% !important;
  bottom: 0 !important;
  left: 18px !important;
  margin: -1px 0 0 !important;
  border-top-left-radius: 6px !important;
  border-top: 2px solid #4f545c !important;
  border-left: 2px solid #4f545c !important;
  box-sizing:border-box
}

.discord-compact-mode .discord-interaction:before {
  left:26px
}

.discord-interaction .discord-interaction-author-info {
  font-size: 1em !important;
  flex-direction:row-reverse
}

.discord-interaction .discord-interaction-author-avatar {
  width: 16px !important;
  height: 16px !important;
  margin-right: 4px !important;
  border-radius:50%
}

.discord-compact-mode .discord-interaction .discord-interaction-author-avatar {
  display:none
}

.discord-interaction .discord-interaction-author-info .discord-author-username {
  font-size: 1em !important;
  margin-right: 4px !important;
  opacity:.65
}

.discord-compact-mode .discord-interaction .discord-interaction-author-info .discord-author-username {
  margin-left:0
}

.discord-interaction .discord-interaction-author-info .discord-author-bot-tag {
  font-size: .75em !important;
  margin:1px 4px 0 0
}

.discord-compact-mode .discord-interaction .discord-interaction-author-info .discord-author-bot-tag {
  font-size: .7em !important;
  padding-left: 4px !important;
  padding-right:4px
}

.discord-interaction .discord-interaction-command .discord-interaction-command-name {
  color: #7289da !important;
  opacity:.65
}

.discord-interaction .discord-interaction-reply {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow:ellipsis
}

.discord-interaction .discord-interaction-reply .discord-interaction-reply-edited {
  color: #72767d !important;
  font-size: 10px !important;
  margin-left:3px
}

.discord-interaction .discord-interaction-reply:hover {
  color:#fff
}

.discord-light-theme .discord-interaction .discord-interaction-reply:hover {
  color:#060607
}

.discord-markdown .discord-markdown-content > pre {
  max-width: 90% !important;
  margin: .4em 0 0 !important;
  white-space: pre-wrap !important;
  border-radius: 4px !important;
  box-sizing:border-box
}

.discord-markdown .discord-markdown-content > pre > code {
  color: #b9bbbe !important;
  background-color: #2f3135 !important;
  display: block !important;
  font-size: 1em !important;
  padding: .5em !important;
  border: 1px solid #202225 !important;
  border-radius:4px
}

.discord-light-theme .discord-markdown .discord-markdown-content > pre > code {
  color: #4f5660 !important;
  background-color: #f2f3f9 !important;
  border-color:#e3e5e8
}

.discord-markdown .discord-markdown-content > code {
  background-color: #2f3136 !important;
  font-size: .95em !important;
  padding: 3px !important;
  border-radius: 3px !important;
  white-space:pre-wrap
}

.discord-light-theme .discord-markdown .discord-markdown-content > code {
  background-color:#f2f3f5
}

.discord-markdown .discord-markdown-content .d-spoiler {
  color: transparent !important;
  background-color: #202225 !important;
  border-radius: 3px !important;
  transition:all .1s ease-in-out
}

.discord-light-theme .discord-markdown .discord-markdown-content .d-spoiler {
  background-color:#b9bbbe
}

.discord-markdown .discord-markdown-content .d-spoiler:hover {
  color: inherit !important;
  background-color:#ffffff1a
}

.discord-light-theme .discord-markdown .discord-markdown-content .d-spoiler:hover {
  background-color:#0000001a
}

.discord-markdown .discord-markdown-content > blockquote {
  position: relative !important;
  margin: 0 !important;
  padding:0 8px 0 16px
}

.discord-markdown .discord-markdown-content > blockquote:before {
  content: "" !important;
  background-color: #4f545c !important;
  width: 4px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  border-radius:4px
}

.discord-light-theme .discord-markdown .discord-markdown-content > blockquote:before {
  background-color:#c7ccd1
}

.discord-message .discord-mention {
  color: #dee0fc !important;
  background-color: #5865f24d !important;
  font-weight: 500 !important;
  padding: 0 2px !important;
  border-radius: 3px !important;
  transition:background-color 50ms ease-out, color 50ms ease-out
}

.discord-message .discord-mention:hover {
  background-color:#5865f2
}

.discord-message {
  color: #dcddde !important;
  display: flex !important;
  flex-direction: column !important;
  font-size: .9em !important;
  margin: 1em 0 !important;
  padding:.25em 1em 0
}

.discord-message:hover {
  background-color:#32353b
}

.discord-compact-mode .discord-message {
  margin: .15em 0 !important;
  padding-left: .25em !important;
  padding-right:.25em
}

.discord-light-theme .discord-message {
  color:#2e3338
}

.discord-light-theme .discord-message:hover {
  background-color:#fafafa
}

.discord-message.discord-ephemeral-highlight {
  background-color:#5865f20d
}

.discord-message.discord-mention-highlight {
  background-color:#faa61a1a
}

.discord-message.discord-ephemeral-highlight, .discord-message.discord-mention-highlight {
  position:relative
}

.discord-message.discord-ephemeral-highlight:before, .discord-message.discord-mention-highlight:before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  width:2px
}

.discord-message.discord-ephemeral-highlight:before {
  background-color:#5865f2
}

.discord-message.discord-mention-highlight:before {
  background-color:#faa61a
}

.discord-message.discord-ephemeral-highlight:hover {
  background-color:#5865f21a
}

.discord-message.discord-mention-highlight:hover {
  background-color:#faa61a14
}

.discord-light-theme .discord-message.discord-mention-highlight:hover {
  background-color:#faa61a33
}

.discord-message a {
  color: #0096cf !important;
  font-weight: 400 !important;
  text-decoration:none
}

.discord-message a:hover {
  text-decoration:underline
}

.discord-light-theme .discord-message a {
  color:#00b0f4
}

.discord-message .discord-author-avatar {
  margin-top: 1px !important;
  margin-right: 16px !important;
  min-width:40px
}

.discord-compact-mode .discord-message .discord-author-avatar {
  display:none
}

.discord-message .discord-author-avatar img {
  width: 40px !important;
  height: 40px !important;
  border-radius:50%
}

.discord-message .discord-message-content {
  display: flex !important;
  width: 100% !important;
  line-height: 160% !important;
  font-weight: 400 !important;
  overflow-wrap:anywhere
}

.discord-message .discord-message-content .discord-message-timestamp {
  color: #72767d !important;
  font-size: 12px !important;
  margin-left:3px
}

.discord-compact-mode .discord-message:hover .discord-message-content .discord-message-timestamp, .discord-compact-mode.discord-light-theme .discord-message:hover .discord-message-content .discord-message-timestamp, .discord-light-theme .discord-message .discord-message-content .discord-message-timestamp {
  color:#99aab5
}

.discord-compact-mode .discord-message .discord-message-content .discord-message-timestamp {
  display: inline-block !important;
  min-width: 48px !important;
  font-size: 11px !important;
  margin-left: 0 !important;
  margin-right: 3px !important;
  text-align:right
}

.discord-compact-mode.discord-light-theme .discord-message .discord-message-content .discord-message-timestamp {
  color:#d1d9de
}

.discord-message .discord-message-body {
  position: relative !important;
  width:100%
}

.discord-compact-mode .discord-message-body {
  margin-left:.25em
}

.discord-message .discord-message-body .discord-message-edited {
  color: #72767d !important;
  font-size: 10px !important;
  margin-left:3px
}

.discord-message .discord-message-ephemeral-notice {
  color: #72767d !important;
  font-size: 12px !important;
  margin-top:4px
}

.discord-messages {
  color: #fff !important;
  background-color: #36393e !important;
  font-size: 16px !important;
  font-family: Roboto, sans-serif !important;
  line-height: 170% !important;
  border:1px solid rgba(255, 255, 255, .05)
}

.discord-messages.discord-light-theme {
  color: #747f8d !important;
  background-color: #f7f7f7 !important;
  border-color:#dedede
}

.discord-reactions .discord-reaction {
  background-color: #2f3136 !important;
  display: inline-flex !important;
  align-items: center !important;
  padding: 0 .4em !important;
  border-radius: 4px !important;
  margin-right: 2px !important;
  margin-bottom: 2px !important;
  border: 1px solid transparent !important;
  transition:background-color .1s ease, border-color .1s ease
}

.discord-light-theme .discord-reactions .discord-reaction {
  background-color:#f2f3f5
}

.discord-reactions .discord-reaction:hover {
  background-color: #36393f !important;
  border-color:#fff3
}

.discord-light-theme .discord-reactions .discord-reaction:hover {
  border-color:#0003
}

.discord-reactions .discord-reaction.discord-reaction-active {
  background-color: #5865f226 !important;
  border-color:#5865f2
}

.discord-reactions .discord-reaction .discord-reaction-emoji {
  width: 16px !important;
  height:16px
}

.discord-reactions .discord-reaction .discord-reaction-count {
  margin-left:6px
}

.discord-reactions {
  display: flex !important;
  flex-wrap: wrap !important;
  padding:2px 0
}