:root {
	--sl-color-accent-low: #391b00;
	--sl-color-accent: #9d5400;
	--sl-color-accent-high: #f5ba8e;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-gray-7: #1b1b1b;
	--sl-color-black: #181818;
	--sl-font: "SF Pro Display", Inter, -system-ui, sans-serif;
	--__sl-font-mono:
		"SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono", Menlo,
		Consolas, monospace !important;
	--open-sans: "Open Sans", --__sl-font-mono;
	tab-size: 40px;
	scroll-behavior: smooth;
	--global-shadow: 0 4px 8px #0000001a;
}

:root[data-theme="light"] {
	--sl-color-accent-low: #facdac;
	--sl-color-accent: #e09137;
	--sl-color-accent-high: #4e2600;
	--sl-color-accent-low: #f5d0a7;
	--sl-color-accent: #965d00;
	--sl-color-accent-high: #492b00;
	--sl-color-white: #1d1715;
	--sl-color-gray-1: #302321;
	--sl-color-gray-2: #423432;
	--sl-color-gray-3: #635451;
	--sl-color-gray-4: #978784;
	--sl-color-gray-5: #c8c0be;
	--sl-color-gray-6: #f3ecea;
	--sl-color-gray-7: #f9f5f5;
	--sl-color-black: #ffffff;
}

* {
	corner-shape: superellipse(1.5);
}

/* Remove top sidebar item's collapse button and line */
.sidebar-content ul.top-level> :first-child {
	summary {
		display: none;
	}

	ul {
		--sl-sidebar-item-padding-inline: 0;

		li {
			border-inline-start: none;
		}

		a {
			--sl-sidebar-item-padding-inline: 8px;
		}
	}
}

/* Terminals */
.is-terminal {
	border: 1px solid #4e4e4e !important;
	border-radius: 14px;
	overflow: hidden;

	&>figcaption,
	&>pre {
		border: none !important;
	}

	&>figcaption {
		background: #2d2d2d !important;
	}

	&>figcaption::after {
		border-color: black !important;
	}

	&>figcaption::before {
		width: 2.5rem !important;
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68 16' preserveAspectRatio='xMidYMid meet'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Ccircle cx='35' cy='8' r='8'/%3E%3Ccircle cx='60' cy='8' r='8'/%3E%3C/svg%3E") !important;
	}

	&>figcaption>.title::after {
		content: "zsh";
		font-weight: 700;
		color: #bcbdc0;
		font-size: 14px;
		opacity: 0.5 !important;
	}
}

/* Landing page */
:root {
	--purple-hsl: 26, 83%, 76%;
	--overlay-blurple: hsla(var(--purple-hsl), 0.2);
}

[data-has-hero] .page {
	background:
		linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
		radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

[data-has-hero] .hero>img {
	filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

[data-has-hero][data-theme="dark"] .card {
	backdrop-filter: blur(20px);
	background: rgba(40, 40, 40, 0.315);
}

[data-has-hero][data-theme="light"] .card {
	backdrop-filter: blur(20px);
}

[data-has-hero] #_top {
	font-weight: 400;
}

[data-has-hero] .tagline {
	font-weight: 300;
}

/* Slash commands */
code[type="cmd"] {
	background-color: color-mix(in oklab, hsl(234.935 calc(1*85.556%) 64.706% /0.23921568627450981) 100%, hsl(0 0% 0% /0.23921568627450981) 0%);
	border-radius: 3px;
	color: color-mix(in oklab, hsl(228.14 calc(1*100%) 83.137% /1) 100%, #000 0%);
	font-weight: 500;
	padding: 0 2px;
	font-size: 16px;
	font-family: sans-serif;
	cursor: pointer;
	transition: background-color 50ms ease-out,color 50ms ease-out;
	&:hover {
		color: white;
		background-color: #5865f0;
	}
}
